<mat-toolbar>
  <button mat-icon-button (click)="drawer.toggleDrawer()">
    <mat-icon>menu</mat-icon>
  </button>
  <a [routerLink]="['/']">
    <img id="logo" src="assets/logo.png" alt="Seattle Grace Hospital Logo">
  </a>

  <span class="example-spacer"></span>

  <a href="https://www.facebook.com/marc.petitdemange.5" target="_blank">
    <button mat-icon-button>
      <i class="bi bi-facebook"></i>
    </button>
  </a>

  <a href="https://www.instagram.com/marcusptdmg/" target="_blank">
    <button mat-icon-button>
      <i class="bi bi-instagram"></i>
    </button>
  </a>

  <a href="https://www.linkedin.com/in/marc-petitdemange-710424146/" target="_blank">
    <button mat-icon-button>
      <i class="bi bi-linkedin"></i>
    </button>
  </a>

  <a href="https://github.com/MarcPetitdemange" target="_blank">
    <button mat-icon-button>
      <i class="bi bi-github"></i>
    </button>
  </a>
</mat-toolbar>
