<mat-toolbar>
  <button mat-icon-button (click)="drawer.toggleDrawer();">
    <mat-icon>menu</mat-icon>
  </button>
  <a [routerLink]="['/']">
    <img id="logo" src="assets/logo.png" alt="Seattle Grace Hospital Logo">
  </a>

  <span class="example-spacer"></span>

  <a href="https://www.facebook.com/marc.petitdemange.5" target="_blank">
    <button mat-icon-button>
      <em class="bi bi-facebook"></em>
    </button>
  </a>

  <a href="https://www.instagram.com/marcusptdmg/" target="_blank">
    <button mat-icon-button>
      <em class="bi bi-instagram"></em>
    </button>
  </a>

  <a href="https://www.linkedin.com/in/marc-petitdemange-710424146/" target="_blank">
    <button mat-icon-button>
      <em class="bi bi-linkedin"></em>
    </button>
  </a>

  <a href="https://github.com/MarcPetitdemange" target="_blank">
    <button mat-icon-button>
      <em class="bi bi-github"></em>
    </button>
  </a>
</mat-toolbar>

