section {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

mat-option{
}

.avatar-barre-recherche{
  width: 1.5em!important;
  height: 1.5em!important;
  margin: 0 0.5em;
}
