<barre-de-recherche [personnel]="personnel" (typing)="personnelFiltered($event)"></barre-de-recherche>

<section>
  <span>
    {personnel?.length, plural,
      =0 {Aucun employé trouvé}
      =1 {1 Employé trouvé}
      other {{{ personnel?.length }} Employés trouvés}}
  </span>
</section>

<section [ngSwitch]="view">
  <section *ngSwitchCase="'card'">
    <carte [employe]="employe" (personDelete)="delete($event)" (personUpdate)="update($event)" *ngFor="let employe of personnel" ></carte>
  </section>

  <section *ngSwitchCase="'list'">
    <mat-list>
      <mat-list-item *ngFor="let employe of personnel">
        <img matListItemAvatar [src]="employe.photo" alt="Avatar de l'employé"/>
        <h3 matListItemTitle>{{ employe.prenom }} {{ employe.nom }} </h3>
        <p matListItemLine>
          <span> {{ employe.email }} </span> — <span>{{ employe.telephone }} </span>
        </p>
      </mat-list-item>
    </mat-list>
  </section>
</section>


<section class="buttons-fab" *ngIf="dialogStatus == 'inactive'">
  <button (click)="showDialog()" mat-fab color="accent" class="button-add">
    <em class="material-icons">add</em>
  </button>

  <button (click)="switchView()" mat-fab color="warn">
    <em class="material-icons" *ngIf="view === 'card'">list</em>
    <em class="material-icons" *ngIf="view === 'list'">view_stream</em>
  </button>
</section>
