<mat-card class="mat-whiteframe-2dp">
  <mat-card-title> <span>➕ Créer un(e) employé(e)</span> </mat-card-title>

  <mat-card-content>
    <form novalidate [formGroup]="form">

      <p>
            <mat-form-field class="name" > <input formControlName="nom"  matInput placeholder="Nom *" name="nom" /> </mat-form-field>
            <mat-form-field class="name" > <input formControlName="prenom"  matInput placeholder="Prénom *" name="prenom" /> </mat-form-field>
      </p>

      <p>
        <label class="mat-checkbox-label">Sexe *</label>
        <mat-radio-group aria-label="Sexe *" class="radio-group" name="sexe" formControlName="sexe">
          <mat-radio-button value="M" class="radio-button" >Homme</mat-radio-button>
          <mat-radio-button value="F" class="radio-button" >Femme</mat-radio-button>
          <mat-radio-button value="A" class="radio-button" >Autre</mat-radio-button>
        </mat-radio-group>
      </p>

      <p>
        <mat-form-field>
          <input matInput placeholder="Email" style="width:100%" name="email" formControlName="email" />
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input  matInput placeholder="Téléphone * (ex: 0612345678)" style="width:100%" name="telephone" formControlName="telephone" />
        </mat-form-field>
      </p>

      <p>
        <mat-form-field class="chip-list" >
          <mat-label>Fonctions :</mat-label>
          <mat-chip-list #chipList aria-label="Intitulés des fonctions de l'employés">
            <mat-chip *ngFor="let titre of employeModel.titres" (removed)="removeChipset(titre)" >
              {{titre}}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
            <input placeholder="Ex: Chirurgien..."
                   [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   (matChipInputTokenEnd)="addChipset($event)">
          </mat-chip-list>
        </mat-form-field>
      </p>

      <input #fileInput type="file" (change)="onFileSelected($event)"  name="photo" style="display: none;" />
      <div *ngIf="fileName" >
        <img width="100" src=" https://randomuser.me/api/portraits/lego/6.jpg" alt="Photo de l'employé" /> <br>
        <button mat-flat-button color="warn" (click)="fileName = null;">
          <mat-icon>
            cancel
          </mat-icon>
        </button>
      </div>
      <div class="file-upload" *ngIf="!fileName">
        <button (click)="fileInput.click()" mat-fab>
          <mat-icon>
            image
          </mat-icon>
        </button>
      </div>
    </form>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-button type="button" (click)="cancel()">Annuler</button>
    <button mat-button color="primary" type="submit" (click)="submit(form.value)">Valider</button>
  </mat-card-actions>
</mat-card>
