.name{
  margin: 1em;

}

.align-center{
    display: flex;
    justify-content: center;
}

.radio-group {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}

.radio-button {
  margin: 5px;
}

.chip-list{
  width: 100%;
}
