<mat-card class="carteCustom">
  <mat-card-header>
    <img mat-card-avatar src="/assets/randomAvatar.png"/>
    <mat-card-title>Patrick Sebastien</mat-card-title>
    <mat-card-subtitle>Manager</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-card-subtitle class="contact-info">
      <mat-icon>email</mat-icon>
      <a
        href="mailto:"
        title="Send an email to"
        class="truncate"
      >test@gmail.com</a
      >
    </mat-card-subtitle>
    <mat-card-subtitle class="contact-info">
      <mat-icon>phone</mat-icon>
      <a href="tel:" title="Call">0606060606</a>
    </mat-card-subtitle>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-mini-fab aria-label="Editer" color="accent">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-mini-fab aria-label="Supprimer" color="warn">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
