<mat-drawer-container class="example-container">
  <mat-drawer #drawer mode="side">
    <mat-nav-list>
      <mat-list-item [routerLink]="['/accueil']">
        <span class="full-width">{{ 'drawer.accueil' | translate }}</span>
        <mat-icon mat-list-icon>home</mat-icon>
      </mat-list-item>
      <mat-list-item [routerLink]="['/listPersonnel']">
        <span class="full-width">{{ 'drawer.listPersonnel' | translate }}</span>
        <mat-icon mat-list-icon>list_alt</mat-icon>
      </mat-list-item>
      <mat-list-item [routerLink]="['/graph']">
        <span class="full-width">{{ 'drawer.stats' | translate }}</span>
        <mat-icon mat-list-icon>bar_chart</mat-icon>
      </mat-list-item>
      <mat-list-item [routerLink]="['/contact']">
        <span class="full-width">{{ 'drawer.contact' | translate }}</span>
        <mat-icon mat-list-icon>contact_support</mat-icon>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content class="sidenav_container">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
